<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>视频列表</title>
</head>
<body>
视频列表

<link href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>

<table
        id="table"
        data-toggle="table"
        data-search="true"
        data-url="">
    <thead>
    <tr>
        <th data-field="id">ID</th>
        <th data-field="name">Item Name</th>
        <th data-field="price">Item Price</th>
    </tr>
    </thead>
</table>

<div>
    <ul>
        <li th:each="info:${fileInfos}">
            <p>ID:<span th:text="${info.id}"></span></p>
            <p>视频url=<span th:text="${info.fileUrl}"></span></p>
        </li>
    </ul>
</div>
</body>
</html>