<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/header :: header"></head>
<meta charset="UTF-8">
<body>

<!-- Content -->
<div class="top-content">

    <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <a class="logo" href="#"></a>
                            <h1><strong>视频上传中心</strong> </h1>
                            <div class="description">
                                <p>
                                    仅支持上传格式avi、wmv、mpeg、mp4、mov、mkv、flv、f4v、m4v、rmvb、rm、3gp、dat、ts、mts、vob
<!--                                    <a href="#"><strong>正邦</strong></a>-->
                                </p>
                            </div>
                            <div class="top-big-link">
                                <a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-register">请点击此处上传</a>
                                <a class="btn btn-link-1 launch-modal" onclick="toFileList()"  data-modal-id="modal-registerList">查看列表</a>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</div>

<!-- MODAL -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="modal-register-label">视频上传</h3>
<!--                <p>Fill in the form below to get instant access:</p>-->
            </div>

            <div class="modal-body">

                <form id="defaultForm" role="form" action="uploadFile" enctype="multipart/form-data" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="title">标题</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" placeholder="请输入标题" class="form-control" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dataType">类型</label>
                        <div class="col-sm-10">
                            <input type="text" name="dataType" placeholder="请输入类型" class="form-control" id="dataType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileName" class="col-sm-2 control-label">文件</label>
                        <div class="col-sm-10">
                            <input type="file" name="fileName" id="fileName">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="remark">简介</label>
                        <div class="col-sm-10">
                            <textarea name="remark" placeholder="请输入简介"
                                  class="form-control" id="remark"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn">提交</button>
                </form>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var path = getContextPath();
    $(function () {
        $('#defaultForm')
            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        message: '标题检验失败',
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 80,
                                message: '标题不能超过最大长度'
                            },
                            // regexp: {
                            //     regexp: /^[a-zA-Z0-9_\.]+$/,
                            //     message: 'The username can only consist of alphabetical, number, dot and underscore'
                            // }
                        }
                    },
                    dataType: {
                        message: '类型检验失败',
                        validators: {
                            notEmpty: {
                                message: '类型不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 80,
                                message: '类型不能超过最大长度'
                            }
                        }
                    },
                    remark: {
                        message: '简介检验失败',
                        validators: {
                            notEmpty: {
                                message: '简介不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 200,
                                message: '类型不能超过最大长度'
                            }
                        }
                    },
                    fileName: {
                        validators: {
                            notEmpty: {
                                message: '请上传文件'
                            },
                            file: {
                                extension: 'avi,wmv,mpeg,mp4,mov,mkv,flv,f4v,m4v,rmvb,rm,3gp,dat,ts,mts,vob',
                                // type: 'application/avi',
                                maxSize: 500*1024*1024,
                                message: '请重新上传视频'
                            }
                        }
                    },
                }
            });
    });

    function toFileList()
    {
        window.location.href= path + '/searchServer';
    }

    // 获取项目路径
    function getContextPath() {
        var currentPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = currentPath.indexOf(pathName);
        var localhostPath = currentPath.substring(0, pos);
        var projectName = pathName
            .substring(0, pathName.substr(1).indexOf('/') + 1);
        return (localhostPath + projectName);
    }
</script>
</body>
</html>